<div >
        <section id="home-section" class="hero">
            <div class="home-slider owl-carousel">
                <div class="slider-item js-fullheight">
                    <div class="overlay"></div>
                    <div class="container-fluid p-0">
                        <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                            <img class="one-third order-md-last img-fluid" src="~/images/pngegg.png" alt="">
                            <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                                <div class="text">
                                    <span class="subheading">#New Arrival</span>
                                    <div class="horizontal">
                                        <h1 class="mb-4 mt-3">Hoa Van Ta Than Style</h1>
                                        <p class="mb-4">Quần đùi thái áo ba lỗ tông lào hoặc dép tổ ong là một phong cách không bao giờ lỗi thời.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item js-fullheight">
                    <div class="overlay"></div>
                    <div class="container-fluid p-0">
                        <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                            <img class="one-third order-md-last img-fluid" src="~/images/pngegg2.png" alt="">
                            <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                                <div class="text">
                                    <span class="subheading">#New Arrival</span>
                                    <div class="horizontal">
                                        <h1 class="mb-4 mt-3">SIEU BEN VUNG </h1>
                                        <p class="mb-4">Ném chó đánh trộm ném xoài hoặc dùng để là ghế ngồi hoàn toàn không hề lo ngại về độ bền.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row no-gutters ftco-services">
                    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-4 py-md-5">
                            <div class="icon d-flex justify-content-center align-items-center mb-4">
                                <span class="flaticon-bag"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Free Shipping</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-4 py-md-5">
                            <div class="icon d-flex justify-content-center align-items-center mb-4">
                                <span class="flaticon-customer-service"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Support Customer</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services p-4 py-md-5">
                            <div class="icon d-flex justify-content-center align-items-center mb-4">
                                <span class="flaticon-payment-security"></span>
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Secure Payments</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="slide col-md-12">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/img/hvtt.jpg" class="d-block w-100" alt="..." height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color:white;">Kết hợp đa dạng thời trang</h>
                       @*  <p>Out mọi thời trang hợp mọi thời đại</p> *@
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/img/outfit2.png" class="d-block w-100" alt="..." height="500px">
                    <div class="carousel-caption d-none d-md-block">
                        @* <h5>Thiết kế đỉnh cao</h5>
                        <p>Sống trường tồn theo thời gian không bị lỗi thời.</p> *@
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/outfit3.jpg" class="d-block w-100" alt="..." height="500px">
                    <div class="carousel-caption d-none d-md-block">
                       @*  <h5>Đa dạng màu sắc</h5>
                        <p>Nhiều loại dép với nhiều tông màu khác nhau để các dân chơi chọn lựa.</p> *@
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>  
    <div>
        <section class="ftco-gallery">
            <div class="container">
                <div class="row justify-content-center">
                   @*  <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                        <h2 class="mb-4">Follow Us On Instagram</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                    </div> *@
                </div>
            </div>
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-2 ftco-animate">
                        <a href="~/images/TL1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/images/TL1.jpg);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-instagram"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-2 ftco-animate">
                        <a href="~/images/TL2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/images/TL2.jpg);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-instagram"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-2 ftco-animate">
                        <a href="~/images/TL3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/images/TL3.jpg);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-instagram"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-2 ftco-animate">
                        <a href="~/images/TL4.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/images/TL4.png);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-instagram"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-2 ftco-animate">
                        <a href="~/images/TL5.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/images/TL5.png);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-instagram"></span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-2 ftco-animate">
                        <a href="~/images/TL6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(~/images/TL6.jpg);">
                            <div class="icon mb-4 d-flex align-items-center justify-content-center">
                                <span class="icon-instagram"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <h5 style="text-align: center;"> Thịnh Hành nhất </h5>




        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="/img/Adidas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tông lào Sport siêu xịn</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/louluen.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tông lào đánh chó siêu bền</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="img/mavang.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tổ ong mạ vàng sang trọng</h5>                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/img/codien.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tổ ong cổ điển vững chắc</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>